<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.legend.shootingcodetalker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.ShootingApp"
        android:allowBackup="true"
        android:icon="@mipmap/shooting"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shooting"
        android:supportsRtl="true"
        android:theme="@style/ShootingTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchResultActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.SubInfoActivity" />
        <activity android:name=".activity.EditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.ColorActivity" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.DownloadActivity" />
        <activity android:name=".activity.LikeActivity">

        </activity>
    </application>

</manifest>